/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.controlls{
    display: flex;
}
.control-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-left: 10px;
    background: rgb(83,81,81);
    background: linear-gradient(180deg, rgba(83,81,81,1) 36%, rgba(107,106,106,1) 50%, rgba(83,81,81,1) 74%);
    border-radius: 10px;
}
.elements-wrapper{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal {
    flex-direction: column;
}
.span-wrapper{
    display: flex;
    justify-content: space-between;
}
.span-horiz{
    width: 90%;
}
.slider-horizontal{
    width: 90%;
}
.wrap-vertical{
    height: 100%;
    flex-direction: column;
}
#vertical-slider{
    width: 60%;
    transform: rotateZ(90deg);
}
button{
    margin-top: 10px;
}
.input-field{
    width: 60%;
    margin-left: 10px;
}

#controlled-box{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 150px;
}